/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 0;
  }

  body div {
    font-size: 20px;
    position: relative;
    padding: 30px;
    top: 250px;
    width: 450px;
    border-radius: 20px;
    z-index: 1;
    margin: auto;
    background: rgba(76, 175, 80, 0.3);
    color: white;
    text-align: center;
   }

   body div a {
    color: white;
   }